x-airflow-common: &airflow-common
  build:
    context: ..
    dockerfile: docker/Dockerfile
  env_file:
    - ../.env
  environment:
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CORE__LOAD_EXAMPLES: "false"
    PYTHONPATH: /opt/airflow/src
  volumes:
    - ../src:/opt/airflow/src
    - ../src/dags:/opt/airflow/dags
    - ../logs:/opt/airflow/logs
  depends_on:
    - postgres

services:

  postgres:
    image: postgres:14
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  airflow-init:
    <<: *airflow-common
    command: bash /opt/airflow/docker/airflow-init.sh
    volumes:
      - ../docker:/opt/airflow/docker
      - ../src:/opt/airflow/src
    depends_on:
      - postgres
    restart: "no"

  airflow-webserver:
    <<: *airflow-common
    command: airflow webserver
    ports:
      - "8080:8080"
    depends_on:
      - airflow-init

  airflow-scheduler:
    <<: *airflow-common
    command: airflow scheduler
    depends_on:
      - airflow-init

volumes:
  postgres-db-volume:
